body {
    max-width: 960px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
}

.header-pic {
    display: block;
    height: 45%;
    width: 45%;
    /* float: left; */
    margin-right: auto;
    margin-left: auto;
}

.Ingredients li {
    list-style: none
}

/* .Ingredients {
    display: flex;
    flex-wrap: wrap;
} */

/* .Instructions {
    display: flex;
    flex-wrap: wrap;
} */

/* @media (min-width: 640px) {
    .Ingredients li { display: flex; }
  }

  @media (min-width: 640px) {
    .Instructions li { display: flex;}
  } */

  @media (min-width: 640px) {
    .Ingredients-Instructions { display: flex; }
    .Ingredients-Instructions > * { width: 50%; }
  }
